<!DOCTYPE HTML>

<html>
	<head>
		{% block head %}
		<title>{% block title %}{% endblock %}Flaskerino!</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
		{% endblock %}
	</head>
	<body>

		<div id="wrapper">

			<div id="main">
				<div id="reel">

					<!-- Header Item -->
					{% block content %}
						<div id="header" class="item" data-width="400">
							<div class="inner">
								<h1>{{ title }}</h1>
							</div>
						</div>
					{% endblock %}
					<!-- Thumb Items -->

					{% for image in images %}
						<article class="item thumb" data-width="{{ image.width }}"><h2>{{ image.name }}</h2><a href="{{ image.image_path }}" class="image"><img src="{{ image.thumb_path }}" alt=""></a></article>
					{% endfor %}

				</div>
			</div>

			<div id="footer">
				{% block footer %}
				<div class="left">
					<p>This is <strong>THE BEST Flaskrino</strong></p>
				</div>
				<div class="right">
					<ul class="copyright">
						<li>&copy; bundyfx</li>
					</ul>
				</div>
				{% endblock %}
			</div>

		</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.poptrox.min.js"></script>
			<script src="../static/assets/js/skel.min.js"></script>
			<script src="../static/assets/js/skel-viewport.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>
